{% extends 'users/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="w-100 m-auto">
        {% if user.is_authenticated %}
            Привет {{ user.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <h3 class="fw-bold" style="margin-bottom: 15px;">Вы вышли из системы</h3>
            <div>
                <a class="btn btn-primary btn-lg" style="width: 300px; margin-bottom: 10px;"
                   href="{% url 'login' %}">Log In</a>
                <br>
                <a class="btn btn-primary btn-lg" style="width: 300px;"
                   href="{% url 'loginWithVideo' %}">Log In With Video</a>
            </div>

        {% endif %}
    </main>
{% endblock %}