{% extends 'users/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{%block style %}
<link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock %}



{% block content %}

<h2>Авторизация</h2>


<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
      <button type="submit">Войти</button>

</form>

<p>
    <button id="start-camera">Камера</button>
    <video id="video" width="400" height="300" autoplay></video>
    <button id="start-record">Start Recording</button>
    <button id="stop-record">Stop Recording</button>
    <a id="download-video" download="test.webm">Download Video</a>


</p>

<script src="{% static 'js/client.js' %}"></script>


<!--
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Авторизироваться</button>
</form>
-->

{% endblock %}

